@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
}

/* Login Componenet */
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-direction: column;
}

.top-login-title{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #5B415D;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
  align-content: center;
  justify-content: center;
  padding: 10px 10px;
}

form{
  width: 100%;
  height: 100%;
}

.login-form-item{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.login-label{
  width: 20%;
}

.width-adjust{
  width: 80%;
}

.input:focus{
  border: 2px solid #5752ac7e;
  box-shadow: 0 0 6px #5752ac7e;
  outline-offset: 0px;
  outline: none;
}

.login-button{
  width: 40%;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 5px 5px;
  color: white;
  border: 2px solid white;
  background-color: #5B415D;
  cursor: pointer;
  font-family: inherit;
}

.login-button:hover{
  background-color: #4E3350;
}